# Use this notebook for your 3 choices of APIs

In [52]:
import random
import string
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
# to chose the apis i will randomly pick a letter for the category and a number for whats inside
random_letter = random.choice(string.ascii_uppercase)

#generate a random between 0 and 30
random_number=random.randint(0,30)
(random_letter,random_number)

('J', 13)

In [4]:
#So our first winner is U-9 https://ulvis.net/developer.html

In [5]:
#second one is W 16   which leads us to Weather! --> ODWeather  https://api.oceandrivers.com/static/docs.html

In [6]:
# third and last winned A 2 Axolotl https://theaxolotlapi.netlify.app/ --> collection of axolotl pictures and facts

In [39]:
#lets go with the first one
# make a get request to the api
response_1=requests.get("https://api.chucknorris.io/jokes/random")
response_1.status_code

200

In [40]:
#parse the json response
joke_data=response_1.json()

In [41]:
joke_data

{'categories': [],
 'created_at': '2020-01-05 13:42:30.730109',
 'icon_url': 'https://assets.chucknorris.host/img/avatar/chuck-norris.png',
 'id': 'zpz2_Y4oS0ufnUZ3-WUQcw',
 'updated_at': '2020-01-05 13:42:30.730109',
 'url': 'https://api.chucknorris.io/jokes/zpz2_Y4oS0ufnUZ3-WUQcw',
 'value': 'Chuck Norris dosent need love, Chuck Norris is love.'}

In [42]:
df_random_joke = pd.DataFrame([joke_data])

In [43]:
df_random_joke #it looks like you only get 1 joke, you can ask for a category ,or a list ,more in the documentation

,categories,created_at,icon_url,id,updated_at,url,value
0,[],2020-01-05 13:42:30.730109,https://assets.chucknorris.host/img/avatar/chuck-norris.png,zpz2_Y4oS0ufnUZ3-WUQcw,2020-01-05 13:42:30.730109,https://api.chucknorris.io/jokes/zpz2_Y4oS0ufnUZ3-WUQcw,"Chuck Norris dosent need love, Chuck Norris is love."

In [44]:
pd.set_option('display.max_colwidth', None)

In [45]:
df_random_joke["value"]

0    Chuck Norris dosent need love, Chuck Norris is love.
Name: value, dtype: object

### second one is W 16   which leads us to Weather! --> ODWeather  https://api.oceandrivers.com/static/docs.html

In [46]:
url_odw = "https://api.oceandrivers.com:443/v1.0/getAemetStation/lastdata/4202/"

In [47]:
response_2=requests.get(url_odw)
response_2.status_code

200

In [48]:
odw_data=response_2.json()
odw_data

{'TEMPERATURE': 16.1,
 'TWD': 90,
 'PRESSURE': 1014.6,
 'RAIN_MONTH': 0,
 'TWS_GUST': 6.666666666666666,
 'RAIN_DAY': 0,
 'RAIN': 0.0,
 'HUMIDITY': 69.0,
 'TWS': 3.333333333333333,
 'TIME_STRING': '21/11/2023 12:00',
 'TWD_GUST': 315,
 'TIME': 1700564400000,
 'LATITUDE': 39.5604,
 'LONGITUDE': 2.7417,
 'LOCALTIME': 1}

In [49]:
odw_df=pd.DataFrame([odw_data])
odw_df

,TEMPERATURE,TWD,PRESSURE,RAIN_MONTH,TWS_GUST,RAIN_DAY,RAIN,HUMIDITY,TWS,TIME_STRING,TWD_GUST,TIME,LATITUDE,LONGITUDE,LOCALTIME
0,16.1,90,1014.6,0,6.666667,0,0.0,69.0,3.333333,21/11/2023 12:00,315,1700564400000,39.5604,2.7417,1

###  third and last winned A 2 Axolotl https://theaxolotlapi.netlify.app/ --> collection of axolotl pictures and facts

### so i googled what is a axolotl and are this [little fellas](https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nationalgeographic.com%2Fanimals%2Famphibians%2Ffacts%2Faxolotl&psig=AOvVaw2FQP53goWAmtrHY79sy4Sg&ust=1700654221238000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjurOeE1YIDFQAAAAAdAAAAABAH)

In [65]:
url_axo= "https://theaxolotlapi.netlify.app"

In [66]:
# send get request to the api
response3=requests.get(url_axo)

In [67]:
response3.status_code

200

In [70]:
#data_axo=response3.json()
#data_axo # os i have to chose another one because it seems that there is no api endpoint,not one that i found

In [ ]:
# so lets got with this one https://uselessfacts.jsph.pl/

In [79]:
url_facts = "https://uselessfacts.jsph.pl/api/v2/facts/random"

In [80]:
response4=requests.get(url_facts)

In [81]:
response4.status_code

200

In [82]:
data_facts = response4.json()
data_facts

{'id': '1fe0dd05895bdc5a5cf1519da948730d',
 'text': 'The national anthem of Greece has 158 verses. No one in Greece has memorized all 158 verses. \xa0',
 'source': 'djtech.net',
 'source_url': 'http://www.djtech.net/humor/useless_facts.htm',
 'language': 'en',
 'permalink': 'https://uselessfacts.jsph.pl/api/v2/facts/1fe0dd05895bdc5a5cf1519da948730d'}

In [83]:
facts_df=pd.DataFrame([data_facts])
facts_df

,id,text,source,source_url,language,permalink
0,1fe0dd05895bdc5a5cf1519da948730d,The national anthem of Greece has 158 verses. No one in Greece has memorized all 158 verses.,djtech.net,http://www.djtech.net/humor/useless_facts.htm,en,https://uselessfacts.jsph.pl/api/v2/facts/1fe0dd05895bdc5a5cf1519da948730d